$dark: #555;
$light: #ddd;
$cancelRed: darken(red, 30%);
$darkGreen: lighten(#013220, 5%);
$mainPurple: #b6a8b5;

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.interactive{
    cursor:pointer;
}


#mainDiv{
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 4vmax auto;
    grid-template-rows: 4vmax auto;
    background-color: $light;
    padding: 0px;
    margin: 0;
}

#logo{
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
    background: #999;
    z-index: 3;
    
}

#header{
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
    background-color: $dark;
    filter: drop-shadow(0 0 20px $dark);
    z-index: 2;
}

#sidebar{
    position: relative;
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    z-index: 2;
    filter:drop-shadow(0 0 10px $dark);

    #sideButtons{
        height: 100%;
        width: 100%;
    }

    .addBtn{
        font-size: .6vmax;
        text-shadow: .1vmax .1vmax .05vmax $mainPurple;
        width: 100%;
        height: 10%;
        background-color: $light;
        color: #555;
        text-align: center;
        margin: auto;
        padding: 0px;
        border: none;

        &:hover{
            background-color: $dark;
            color: #ddd;
        }
    }
}

#playSpace{ 
    z-index: 1;
    position: relative;
    background-color: $mainPurple;
    background-image: url('/media/bedge-grunge.png');
    width: 100%;

    #patchExit{
        position: absolute;
        right: 3%;
        top: 3%;
        font-size: 6vh;
        color: $light;
    
        &:hover{
            color: $cancelRed;
        }
    }

    .pingBox{
        width: 30vmax;
        height: 15vmax;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background: $dark;
        z-index: 200;
        display: flex;
        flex-direction: column;
        border-style: inset;
        border-color: $cancelRed;
        border-radius: 3px;
        filter: drop-shadow(0 0 10px $dark);
        

        #pingTextDiv{
            width: 100%;
            height: 25%;
            margin-top: 0px;
            background: rgb(150, 91, 91);
            text-align: center;
            text-decoration-color: $cancelRed;
            

            .error{
                color: $light;
            }
        }
        #pingText{
            margin: auto;
            color: $light;
            font-size: 120%;
            text-decoration: underline;
            text-decoration-color: $cancelRed;
            font-style: oblique;
            text-transform: lowercase;
        }

        .fa-times-circle{
            position: absolute;
            right: -2vh;
            top: -2.5vh;
            font-size: 4vh;
            color: $light;
            transition: transform .6s, filter .6s, color .6s;
            cursor: pointer;
            &:hover{
                color: $cancelRed;
                transform: rotate(180deg);
                filter: drop-shadow(0 0 2px $dark);
            }
        }
    }

    .dragDiv{
        position: absolute;
        width: 12.5vw;
        height: 10.5vh;
        
    }

    .moduleDiv{
        position: absolute;
        top: 2vh;
        left: 2vh;
        background-color:$light;
        filter: drop-shadow(0 0 10px $dark);
        text-align: center;
        width: 12.5vw;
        border-radius: 2px;
        padding-bottom: 5%;
        
    
        &:hover{
            .cordOuter.show{
                visibility: visible;
                opacity: 1;
            }
            .cordOuter.hide{
                visibility: none;
                opacity: 0;
            }
            #firstParam{
                opacity: 1;
            }

        }
        
        .fa-times{
            color: $light;
            visibility:hidden;
            opacity: 0;
            position: absolute;
            width: 12px;
            height: 12px;
            top: -8px;
            left: -4px;
            transition: filter .6s, visibility .45s, opacity .45s, color .6s;
            cursor: pointer;
            &:hover{
                filter: drop-shadow(0 0 2px $dark);
                color: $cancelRed;
            }
        }
        p{
            border-radius: 2px 2px 0px 0px;
            width: 100%;
            height: 30%;
            background-color: $dark;
            color: $light;
            margin: 0px;
            margin-bottom: 5%;
            padding-top: 4%;
            padding-bottom: 4%;
            cursor: move;
            transition: background-color .3s, color .3s;
            &:hover{
                background-color: lighten($dark, 10%);
                color: lighten($light, 10%);
            }
            &:hover{
                .fa-times{
                    visibility: visible;
                    opacity: 1;
                }
            }
        }

        #fillingDiv{
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            input{
                width: 60%;
            }

            button{
                width: 20%;
                height: 20%;
            }
        }
        }

        #firstParam{
            position: absolute;
            top: -1vh;
            right: 25%;
            background-color: $darkGreen;

            .cordInner{
                background-color: $dark;
            }
        }

        #inputOuter{
            top: -1vh;
            right: 75%;
        }

        #outputOuter{
            bottom: -1vh;
            right: 50%;

            .cordInner{
                background-color: $light;
            }
        }

    }

    //------------------------------SELECTOR DIV---------------------------------

    .selectorDiv{
        width: 40%;
        color: $light;
        background: $dark;
        text-transform: capitalize;
        position: absolute;
        border-radius: 3px;
        font-size: 12px;
    
        span{
            display: block;
            padding: 3px;
        }
    
        .selectorVal{
            position: relative;
            display: none;
            background: $dark;
            padding: 3px;
    
            &:hover{
                background: lighten($dark, 10%);
                cursor: pointer;
            }
        }
    
        &:hover{
            span{
                color: $mainPurple;
            }
            .selectorVal{
                display: block;
            }
        }
    }
    
 // ------------------------------------- OSCILLATOR DIV --------------------------------
    .oscDiv{

        #oscSlider{
            right: -20%;
            margin-top: 5%;
        }

        #waveSelector{
            left: 10%;
            top: 51.5px;
            z-index: 100;
        }

        #rangeNum{
            background: lighten($dark, 10%);
            color: $light;
            width: 29%;
            position: relative;
            left: 35%;
            border-radius: 3px;
            margin-bottom: 5%;
        }

        #freqNumInput{
            width: 29%;
            position: relative;
            border-radius: 3px;
        }


        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }
        
        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            -webkit-transition: .4s;
            transition: .4s;
        }
        
        .slider:before {
            position: absolute;
            content: "";
            height: 14px;
            width: 14px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }
        
        input:checked + .slider {
            background-color:$dark;
        }
        
        input:focus + .slider {
            box-shadow: 0 0 1px $dark;
        }
        
        input:checked + .slider:before {
            -webkit-transform: translateX(34px);
            -ms-transform: translateX(34px);
            transform: translateX(34px);
        }
        
        .slider.round {
            border-radius: 34px;
            z-index: 100;
        
            &:before{
                border-radius: 50%;
            }
        }
    }
        
        

    //---------------------------------------- GAIN MOD --------------------------------------------

    #gainGainParamTip{
        right: -27.5px;
        bottom: 140%;
    }

    #gainRangeInput{
        margin-top: 3.5%;
    }

    #gainNumInput{
        width: 33%;
    }


    //---------------------------------------- FILTER MOD -------------------------------------------

    #filterSelector{
        left: 13%;
        top: 55px;
        z-index: 1000;
    }

    #filterGainDiv{
        margin-top: 65px;
    }

    #filterGainTip{
        left: 53px;
        top: 54px;
    }

    #filterFreqTip{
        left: 53px;
        top: 82px;
    }

    //---------------------------------------- OUTPUT MODULE ----------------------------------------

    #outputDiv{
        position: absolute;
        right: 0%;
        bottom: 0%;
        width: 6vmax;
        height: 12vmax;
        background-color:$light;
        filter: drop-shadow(0 0 10px $dark);
        text-align: center;
        border-radius: 3px;

        p{
            border-radius: 2px 2px 0px 0px;
            width: 100%;
            height: 20%;
            line-height: 180%;
            background-color: $dark;
            color: $light;
            margin: 0px;
            padding-top: 4%;
            padding-bottom: 4%;
        }

        .cordOuter{
            position: absolute;
            left: 50%;
            top: 90%;
            transform: translate(-50%, -50%);
            visibility: 1;
            opacity: 1;
            background-color: lighten($dark, 20%);
            width: 1.2vmax;
            height: 1.2vmax;

        }

        .cordInner{
            background-color: $light;
        }

        input[type=range] {
            position: relative;
            transform: rotate(270deg);
            top: 25%;
            right: 2.5%;
            width: 100%;
            height: .5vw;
          }
          input[type=range]::-webkit-slider-runnable-track {
            width: 100%;
            height: 120%;
          }
          input[type=range]::-webkit-slider-thumb {
            border: 2px solid lighten($dark, 10%);
            border-radius: 50%;
            margin-top: -4.5%;
          }
          input[type=range]::-moz-range-track {
            width: 100%;
            height: 100%;
          }
          input[type=range]::-moz-range-thumb {
            height: .7vw;
            width: .7vw;
            margin-top: -6%;
          }
}

//---------------------------------------- CORD DOCKS ----------------------------------------

.cordOuter{
    visibility: 0;
    opacity: 0;
    position: absolute;
    width: 2vh;
    height: 2vh;
    background-color: lighten($dark, 20%);
    border-radius: 50%;
    transition: transform .6s, filter .3s, visibility .3s, opacity .3s;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    transform: translate(50%);

    &:hover{
        filter:drop-shadow(0 0 5px $dark);
    }

    .cordInner{
        width: 65%;
        height: 65%;
        border-radius: 50%;
        padding: 0px;
        margin: 0px;
        background-color: $dark;
    }
}

#returnSpace{
    height: 100%;
    width: 100%;
}

//---------------------------------------- SVG ----------------------------------------

svg{
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
    stroke-linecap: round;

    line{
        position: absolute;
        stroke: $dark;
        stroke-width: 3;
        pointer-events: all;

        &:hover{
            stroke: $cancelRed;
        }
    }
}

.show{
    visibility: visible;
}

.hide{
    visibility: hidden;

}

.raise{
    filter:drop-shadow(0 0 5px $light);
}


//----------------------------------------NUMBER INPUT----------------------------------------

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
  text-align: center;
}

/* Firefox */
input[type=text] {
  -moz-appearance: textfield;
  text-align: center;
  background: $light;
  color: $dark;
}
 
input, input:focus{
    border: 0;
    outline: none;
}

input:focus{
    background: $dark;
    color: $light;
}


//------------------------------------------------TOOLTIP----------------------------------------

.tooltiptext {
    visibility: hidden;
    width: 60px;
    font-size: 12px;;
    background-color: lighten($dark, 10%);
    color: $light;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    display:block;
    z-index: 100;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;

    .paramSpan{
        color: white;
        text-decoration: underline;
    }
  }

.tooltip{
    &:hover{
        .tooltiptext {
            display: block;
            z-index: 2000;
            visibility: visible;
          }
    }

    #oscFreqTip{
        right: 25%;
        bottom: 47%;
    }

    #oscLFOTip{
        right: -10px;
        bottom: 140%;
    }
}

.tooltiptext::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: lighten($dark, 10%) transparent transparent transparent;
  }




  // ---------------------------------RANGE INPUTS ------------------------------
  input[type=range] {
    -webkit-appearance: none;
    position: relative;
    border-radius: 6.5px;
  }
  input[type=range]:focus {
    outline: none;
    border-radius: 10px;
  }
  input[type=range]::-webkit-slider-runnable-track {
    cursor: pointer;
    background: $dark;
    border-radius: 3px;
    border: 0.2px solid lighten($dark, 10%);
  }
  input[type=range]::-webkit-slider-thumb {
    border: 2px solid lighten($dark, 10%);
    border-radius: 50%;
    background: $light;
    cursor: pointer;
    -webkit-appearance: none;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: $dark;
    border-radius: 3px;
  }
  input[type=range]::-moz-range-track {
    cursor: pointer;
    background: $dark;
    height: 100%;
    border-radius: 3px;
    border: 0.2px solid lighten($dark, 10%);
  }
  input[type=range]::-moz-range-thumb {
    border: 2px solid lighten($dark, 10%);
    border-radius: 50%;
    background: $light;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -6%;
  }


  //------------------------------------------ CHECKBOX SLIDER -------------------------------------- 

  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 22px;
    margin-left: 4%;
    margin-bottom: 6%;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color:$dark;
}

input:focus + .slider {
    box-shadow: 0 0 1px $dark;
}

input:checked + .slider:before {
    -webkit-transform: translateX(34px);
    -ms-transform: translateX(34px);
    transform: translateX(34px);
}

.slider.round {
    border-radius: 34px;
    z-index: 100;

    &:before{
        border-radius: 50%;
    }
}


  
//------------------------------------------ DIAL -------------------------------------- 
.dialWhole{ 
    height: 60px;
    width: 33%;
    position: absolute;
    left: 70%;
    transform: translateX(-50%);
    top: 28px;
    margin-top: 5%;
    display: flex;
    justify-content: center;

    input[type=range]{
        width: 40px;
        height: 40px;
        position: relative;
    }

    #dialKnob{
        height: 30px;
        width: 30px;
        border-radius: 50%;
        filter: drop-shadow(3px 3px 3px #555);
        position: absolute;
        left: 50%;

        .dialRange{
            left: -22px;
            opacity: 0;
            z-index: 6;
          }
        

        #dialEmpty{
            height: 100%;
            width: 100%;
            border-radius: 50%;
            outline: solid 1px #ddd;
            position: absolute;
            left: -15px;
            top: 12px;
        }
    }
    #dialNumInput{
        width: 30px;
        align-self: flex-end;
    }
}

@media only screen and (max-device-width: 480px){    
    #mainDiv{
        visibility: 0;
        opacity: 0;
    }
}