html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

.interactive {
  cursor: pointer;
}

#mainDiv {
  position: absolute;
  height: 100vh;
  width: 100vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 4vmax auto;
      grid-template-columns: 4vmax auto;
  -ms-grid-rows: 4vmax auto;
      grid-template-rows: 4vmax auto;
  background-color: #ddd;
  padding: 0px;
  margin: 0;
}

#logo {
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
  background: #999;
  z-index: 3;
}

#header {
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
  background-color: #555;
  -webkit-filter: drop-shadow(0 0 20px #555);
          filter: drop-shadow(0 0 20px #555);
  z-index: 2;
}

#sidebar {
  position: relative;
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 2;
  -webkit-filter: drop-shadow(0 0 10px #555);
          filter: drop-shadow(0 0 10px #555);
}

#sidebar #sideButtons {
  height: 100%;
  width: 100%;
}

#sidebar .addBtn {
  font-size: .6vmax;
  text-shadow: .1vmax .1vmax .05vmax #b6a8b5;
  width: 100%;
  height: 10%;
  background-color: #ddd;
  color: #555;
  text-align: center;
  margin: auto;
  padding: 0px;
  border: none;
}

#sidebar .addBtn:hover {
  background-color: #555;
  color: #ddd;
}

#playSpace {
  z-index: 1;
  position: relative;
  background-color: #b6a8b5;
  background-image: url("/media/bedge-grunge.png");
  width: 100%;
}

#playSpace #patchExit {
  position: absolute;
  right: 3%;
  top: 3%;
  font-size: 6vh;
  color: #555;
}

#playSpace #patchExit:hover {
  color: #660000;
}

#playSpace .dragDiv {
  position: absolute;
  width: 12.5vw;
  height: 10.5vh;
}

#playSpace .moduleDiv {
  position: absolute;
  top: 2vh;
  left: 2vh;
  background-color: #ddd;
  -webkit-filter: drop-shadow(0 0 10px #555);
          filter: drop-shadow(0 0 10px #555);
  text-align: center;
  width: 12.5vw;
  height: 10.5vh;
  border-radius: 2px;
}

#playSpace .moduleDiv:hover .cordOuter.show {
  visibility: visible;
  opacity: 1;
}

#playSpace .moduleDiv:hover .cordOuter.hide {
  visibility: none;
  opacity: 0;
}

#playSpace .moduleDiv .fa-times {
  text-align: center;
  background-color: #6f6f6f;
  color: #ddd;
  font-size: 1.8vh;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  width: 1.8vh;
  height: 1.8vh;
  top: -10%;
  left: -4%;
  margin: 0px;
  padding: 0px;
  border-radius: 50%;
  -webkit-transition: background-color .6s, visibility .45s, opacity .45s, -webkit-transform .6s, -webkit-filter .6s;
  transition: background-color .6s, visibility .45s, opacity .45s, -webkit-transform .6s, -webkit-filter .6s;
  transition: background-color .6s, transform .6s, filter .6s, visibility .45s, opacity .45s;
  transition: background-color .6s, transform .6s, filter .6s, visibility .45s, opacity .45s, -webkit-transform .6s, -webkit-filter .6s;
  cursor: pointer;
}

#playSpace .moduleDiv .fa-times:hover {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-filter: drop-shadow(0 0 2px #555);
          filter: drop-shadow(0 0 2px #555);
}

#playSpace .moduleDiv p {
  border-radius: 2px 2px 0px 0px;
  width: 100%;
  height: 25%;
  background-color: #555;
  color: #ddd;
  margin: 0px;
  margin-bottom: 5%;
  padding-top: 4%;
  padding-bottom: 4%;
  cursor: move;
  -webkit-transition: background-color .3s, color .3s;
  transition: background-color .3s, color .3s;
}

#playSpace .moduleDiv p:hover {
  background-color: #6f6f6f;
  color: #f7f7f7;
}

#playSpace .moduleDiv p:hover .fa-times {
  visibility: visible;
  opacity: 1;
}

#playSpace .moduleDiv #fillingDiv {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10%;
}

#playSpace .moduleDiv #fillingDiv input {
  width: 60%;
}

#playSpace .moduleDiv #fillingDiv button {
  width: 20%;
  height: 20%;
}

#playSpace .moduleDiv .cordOuter {
  visibility: 0;
  opacity: 0;
  position: absolute;
  width: 2vh;
  height: 2vh;
  background-color: #888888;
  border-radius: 50%;
  -webkit-transition: visibility .3s, opacity .3s, -webkit-transform .6s, -webkit-filter .3s;
  transition: visibility .3s, opacity .3s, -webkit-transform .6s, -webkit-filter .3s;
  transition: transform .6s, filter .3s, visibility .3s, opacity .3s;
  transition: transform .6s, filter .3s, visibility .3s, opacity .3s, -webkit-transform .6s, -webkit-filter .3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0px;
  -webkit-transform: translate(50%);
          transform: translate(50%);
}

#playSpace .moduleDiv .cordOuter:hover {
  -webkit-filter: drop-shadow(0 0 5px #555);
          filter: drop-shadow(0 0 5px #555);
}

#playSpace .moduleDiv .cordOuter .cordInner {
  width: 65%;
  height: 65%;
  border-radius: 50%;
  padding: 0px;
  margin: 0px;
  background-color: #ddd;
}

#playSpace .moduleDiv #inputOuter {
  bottom: -1vh;
  right: 75%;
}

#playSpace .moduleDiv #outputOuter {
  bottom: -1vh;
  right: 25%;
}

#playSpace .moduleDiv #outputOuter .cordInner {
  background-color: #555;
}

#returnSpace {
  height: 100%;
  width: 100%;
}

svg {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  stroke-linecap: round;
}

svg line {
  position: absolute;
  stroke: #555;
  stroke-width: 3;
  pointer-events: all;
}

svg line:hover {
  stroke: #660000;
}

.show {
  visibility: visible;
}

.hide {
  visibility: hidden;
}

.raise {
  -webkit-filter: drop-shadow(0 0 5px #ddd);
          filter: drop-shadow(0 0 5px #ddd);
}
/*# sourceMappingURL=styles.css.map */